/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* ****BASIC TO THE CODES START**** */
@font-face {
  font-family: "Lato";
  src: url("../FONT/Lato-Light.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("../FONT/OPEN SANS/OpenSans/OpenSans-Light.ttf");
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

:root {
  --link-color: #ffff;
  --bg-color: #000;
  --text-color: #222222;
  --setProgress: rgb(0, 153, 255);
  --shadow: #e5e5e5;
  --icon-color: #adacac;
  --section-text-color: #444444;
  --star-color: #f7b500;
  --video-text-color: #181539;
  --rock-music-text-color: #03014c;
  --footer-bg-color: #f5f5ff;
  --footer-title-color: #353535;
  --footer-paragraph-color: #13254a;
  --foter-border-color: #979797;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: var(--section-text-color);
  color: var(--link-color);
}

::selection {
  background-color: var(--section-text-color);
  color: var(--link-color);
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 60px;
  overflow-x: hidden;
}

/* ****BASIC TO THE CODES END**** */

/* ****SECRET NAVBAR START**** */
.secret__navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  background-color: var(--link-color);
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.secret__navbar.active {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.secret__navbar .secret__navbar_list {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.secret__navbar .secret__navbar_list .secret__navbar_item .secret__navbar_link {
  line-height: 50px;
  color: var(--text-color);
  font-family: "Lato", sans-serif;
  font-size: 30px;
}

.fa-times {
  color: var(--section-text-color);
  font-size: 35px;
  cursor: pointer;
  position: absolute;
  right: 50px;
  top: 50px;
}

/* ****SECRET NAVBAR END**** */

/* ****HEADER START**** */
.header {
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header.active {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  height: 75px;
  background-color: var(--link-color);
  z-index: 1;
  -webkit-box-shadow: 0 1px 2px var(--bg-color);
  box-shadow: 0 1px 2px var(--bg-color);
}

.header.active .nav {
  height: 75px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.nav {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  height: 100px;
  width: 100%;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav .nav__intro {
  color: var(--bg-color);
  font-size: 35px;
}

.nav .nav__list .nav__item {
  display: inline-block;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.nav .nav__list .nav__item .nav__link {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  padding: 0 20px;
  text-transform: uppercase;
  font-size: 18px;
  color: var(--bg-color);
  letter-spacing: 0.02em;
}

.nav__text {
  color: var(--text-color);
  font-size: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.nav__list .fa-bars {
  color: var(--section-text-color);
  font-size: 35px;
  cursor: pointer;
  display: none;
  margin: 0 0 15px 30px;
}
/* ****HEADER END**** */

/* ****MAIN START**** */
.main__section_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__section_box.active {
  width: 430px;
}

.main__section_box_content_paragraph.active {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 8.5px;
  color: var(--bg-color);
}

.main__section_box_music_play_border {
  width: 300px;
  height: 5px;
  cursor: pointer;
  background-color: var(--bg-color);
  border-radius: 10px;
}

.main__section_box_music_play_border_box {
  height: 100%;
  width: 0;
  -webkit-box-shadow: 7px 7px 14px #d9d9d9, -7px -7px 14px #ffffff;
  box-shadow: 7px 7px 14px #d9d9d9, -7px -7px 14px #ffffff;
  background-color: var(--setProgress);
}

.main__section_box_content_title {
  font-family: "Lato", sans-serif;
  font-weight: 1000;
  font-size: 48px;
  line-height: 65px;
  color: var(--text-color);
}

.main__section_box_content_paragraph {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 46px;
  letter-spacing: 0.03em;
  opacity: 0.8;
  color: var(--text-color);
  margin: 25px 0;
}

.main__section_box_content_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__section_box_content_buttons_btn.active {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: var(--link-color);
  background-color: var(--text-color);
  padding: 10px 50px;
  border: 1px solid var(--text-color);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.main__section_box_content_buttons_btn.active:hover {
  background-color: var(--link-color);
  color: var(--text-color);
}

.main__section_box_content_buttons_btn {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-color);
  margin: 0 5px;
  padding: 10px 40px;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.fa-circle-play {
  color: var(--text-color);
  font-size: 20px;
  margin: 0 0 0 10px;
}

.main__section_box_music_play_img {
  height: 300px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  background: #ffffff;
  -webkit-box-shadow: 7px 7px 14px #d9d9d9, -7px -7px 14px #ffffff;
  box-shadow: 7px 7px 14px #d9d9d9, -7px -7px 14px #ffffff;
  padding: 10px;
}

.main__section_box_music_play_title {
  text-align: center;
  margin: 25px 0;
  font-family: "Lato", sans-serif;
  font-weight: 1000;
  font-size: 30px;
  letter-spacing: 1.5px;
}

.main__section_box_music_play_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 40px 0 0 10px;
}

.main__section_box_music_play_icons i {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #ffffff;
  -webkit-box-shadow: 7px 7px 14px #d9d9d9, -7px -7px 14px #ffffff;
  box-shadow: 7px 7px 14px #d9d9d9, -7px -7px 14px #ffffff;
  padding: 30px;
  cursor: pointer;
}

.fa-pause {
  display: none;
}

.main__section_box_music_play_icons .fa-pause {
  display: none;
}

.fa-pause {
  margin: 0 0 0 15px;
}
/* ****MAIN END**** */

/* ****SECTION START**** */
.section__container {
  margin: 200px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 100px;
}

.section__box_img {
  width: 476px;
  height: 476px;
  border-radius: 16px;
}

.section__box {
  position: relative;
}

.fa-check-circle {
  padding: 10px 0;
  color: var(--icon-color);
}

.section__box_content_title {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 35px;
  line-height: 57px;
  color: var(--text-color);
  letter-spacing: 0.5px;
}

.section__box_content_paragraph {
  font-family: "Open Sans";
  font-style: normal;
  margin: 15px 0 0 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 34px;
  color: var(--text-color);
  letter-spacing: 0.5px;
}

.section__box_container_second {
  margin: 200px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 100px;
}

.section__box_second_title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  color: var(--text-color);
  letter-spacing: 0.5px;
}

.section__box_second_paragraph_first {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.5px;
  color: var(--section-text-color);
  margin: 25px 0;
}

.section__box_second_paragraph_second {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: var(--section-text-color);
  letter-spacing: 0.5px;
  margin: 25px 0 50px 0;
}

.section__box_second_link {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  color: var(--section-text-color);
  border-radius: 4px;
  padding: 15px 40px;
  border: 1px solid var(--text-color);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.section__box_second_link:hover {
  background-color: var(--section-text-color);
  color: var(--link-color);
}

.section__box_second {
  position: relative;
}

.section__box_second_img {
  width: 456px;
  height: 456px;
  border-radius: 16px;
}

.section__box_third_content_videos {
  position: relative;
}

.section__box_third {
  margin: 200px 0 0 0;
  text-align: center;
}

.section__box_third_content_video {
  height: 455px;
  width: 100%;
}

.section__box_third_content_title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 1000;
  font-size: 36px;
  color: var(--video-text-color);
  line-height: 49px;
}

.section__box_third_content_paragraph {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: var(--section-text-color);
  letter-spacing: 0.5px;
  margin: 25px 0;
}

.section__box_third_content_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid var(--link-color);
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 40%;
  right: 45%;
  cursor: pointer;
}

#section__box_third_content_play {
  font-size: 30px;
  color: var(--link-color);
  margin: 0 0 0 3px;
}

#section__box_third_content_pause {
  font-size: 30px;
  color: white;
  display: none;
  margin: 0 3px 0 0;
}
/* ****SECTION END**** */

/* ****FOOTER START***** */
.footer {
  background-color: var(--bg-color);
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
  margin: 100px 0 0 0;
}

.footer__box_items {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 13.9993px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 1.9999px;
  mix-blend-mode: normal;
  color: var(--link-color);
}
/* ****FOOTER END**** */

/* ****MEDIA RESPONSIVE START***** */
@media (max-width: 1056px) {
  .section__box_container_second {
    margin: 400px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 100px;
  }

  .section__box_second_img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
  }

  .section__container {
    margin: 200px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 100px;
  }

  .section__box_img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
  }

  .section__box_cart {
    height: 274px;
    width: 303px;
    padding: 50px;
    background-color: var(--link-color);
    border-radius: 16px;
    -webkit-box-shadow: 10px 10px 10px var(--shadow);
    box-shadow: 10px 10px 10px var(--shadow);
    position: absolute;
    bottom: -130px;
    left: 471px;
  }

  .section__box_third {
    margin: 100px 0 0 0;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .main__section_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 100px;
  }

  .section__container {
    margin: 100px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 100px;
  }

  .section__box_container_second {
    margin: 100px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 100px;
  }

  .section__box_third_content_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid var(--link-color);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 40%;
    right: 42%;
    cursor: pointer;
  }
}

@media (max-width: 700px) {
  .container__small {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 60px;
  }

  .header {
    height: 100px;
  }

  .header.active {
    height: 75px;
  }

  .header.active .nav {
    height: 75px;
  }

  .nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100px;
  }

  .nav .nav__list .nav__item .nav__link {
    display: none;
  }

  .nav__list .fa-bars {
    display: block;
  }

  .fa-music {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .header.active {
    height: 75px;
  }

  .header.active .nav {
    height: 75px;
  }

  .header {
    height: 100px;
  }

  .nav {
    height: 100px;
  }

  .fa-music {
    font-size: 30px;
  }

  .container__small {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 30px;
  }

  .container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 30px;
  }

  .main__section_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 100px;
  }

  .main__section_box_content_title {
    font-family: "Lato", sans-serif;
    font-weight: 1000;
    font-size: 35px;
    line-height: 65px;
    color: var(--text-color);
  }

  .section__box_content_title {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-size: 30px;
    line-height: 57px;
    color: var(--text-color);
    letter-spacing: 0.5px;
  }

  .section__box_content_paragraph {
    font-family: "Open Sans";
    font-style: normal;
    margin: 15px 0 0 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 34px;
    color: var(--text-color);
    letter-spacing: 0.5px;
  }

  .section__box_second_title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 57px;
    color: var(--text-color);
    letter-spacing: 0.5px;
  }

  .section__box_third_content_title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 30px;
    color: var(--video-text-color);
    line-height: 49px;
  }

  .section__box_third_content_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid var(--link-color);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 40%;
    right: 38%;
    cursor: pointer;
  }

  .section__box_third_content_paragraph {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: var(--section-text-color);
    letter-spacing: 0.5px;
    margin: 50px 0 0 0;
  }
}

@media (max-width: 400px) {
  .header.active {
    height: 75px;
  }

  .header.active .nav {
    height: 75px;
  }

  .fa-music {
    font-size: 30px;
  }

  .header {
    height: 100px;
  }

  .nav {
    height: 100px;
  }

  .main__section_box_content_title {
    font-family: "Lato", sans-serif;
    font-weight: 1000;
    font-size: 35px;
    line-height: 50px;
    color: var(--text-color);
  }

  .main__section_box_content_buttons_btn.active {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 10px;
    text-align: center;
    color: var(--link-color);
    background-color: var(--text-color);
    padding: 5px 40px;
    border: 1px solid var(--text-color);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  .fa-bars {
    margin: 0 0 0 20px;
  }

  .footer {
    background-color: var(--bg-color);
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 100px 0;
    margin: 50px 0 0 0;
  }

  .footer__box_items {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1.9999px;
    mix-blend-mode: normal;
    color: var(--link-color);
  }
}

@media (max-width: 360px) {
  .header.active {
    height: 75px;
  }

  .header.active .nav {
    height: 75px;
  }

  .header {
    height: 100px;
  }

  .nav {
    height: 100px;
  }

  .fa-music {
    font-size: 30px;
  }

  .fa-bars {
    margin: 0 0 0 25px;
  }

  .main__section_box_content_title {
    font-family: "Lato", sans-serif;
    font-weight: 1000;
    font-size: 30px;
    line-height: 50px;
    color: var(--text-color);
  }

  .main__section_box_content_paragraph {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    opacity: 0.8;
    color: var(--text-color);
    margin: 20px 0;
  }

  .nav__text {
    color: var(--text-color);
    font-size: 25px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }

  .main__section_box_content_buttons_btn.active {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 10px;
    text-align: center;
    color: var(--link-color);
    background-color: var(--text-color);
    padding: 0 50px;
    border: 1px solid var(--text-color);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  .main__section_box_music_play_title {
    text-align: center;
    margin: 25px 0;
    font-family: "Lato", sans-serif;
    font-weight: 1000;
    font-size: 25px;
    letter-spacing: 1.5px;
  }

  .main__section_box_music_play_icons i {
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #ffffff;
    -webkit-box-shadow: 7px 7px 14px #d9d9d9, -7px -7px 14px #ffffff;
    box-shadow: 7px 7px 14px #d9d9d9, -7px -7px 14px #ffffff;
    padding: 25px;
    cursor: pointer;
  }

  .section__box_content_title {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-size: 26px;
    line-height: 57px;
    color: var(--text-color);
    letter-spacing: 0.5px;
  }

  .section__box_second_title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    color: var(--text-color);
    letter-spacing: 0.5px;
  }

  .section__box_third_content_title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 25px;
    color: var(--video-text-color);
    line-height: 49px;
  }

  .section__box_third_content_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid var(--link-color);
    border-radius: 50%;
    height: 75px;
    width: 75px;
    position: absolute;
    bottom: 42%;
    right: 39%;
    cursor: pointer;
  }

  .footer__box_items {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1.9999px;
    mix-blend-mode: normal;
    color: var(--link-color);
  }
}

@media (max-width: 350px) {
  .header.active {
    height: 75px;
  }

  .header.active .nav {
    height: 75px;
  }

  .header {
    height: 100px;
  }

  .nav {
    height: 100px;
  }

  .fa-music {
    font-size: 30px;
  }

  .main__section_box_music_play_img {
    height: 200px;
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    background: #ffffff;
    -webkit-box-shadow: 7px 7px 14px #d9d9d9, -7px -7px 14px #ffffff;
    box-shadow: 7px 7px 14px #d9d9d9, -7px -7px 14px #ffffff;
    padding: 10px;
  }

  .main__section_box_music_play_border {
    width: 200px;
    height: 5px;
    margin: 0 auto;
    cursor: pointer;
    background-color: var(--bg-color);
    border-radius: 10px;
  }

  .main__section_box_music_play_icons i {
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #ffffff;
    -webkit-box-shadow: 7px 7px 14px #d9d9d9, -7px -7px 14px #ffffff;
    box-shadow: 7px 7px 14px #d9d9d9, -7px -7px 14px #ffffff;
    padding: 25px;
    cursor: pointer;
    margin: 0 15px;
  }

  .main__section_box_content_buttons_btn.active {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 10px;
    text-align: center;
    color: var(--link-color);
    background-color: var(--text-color);
    border: 1px solid var(--text-color);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  .main__section_box_content_paragraph.active {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 8.5px;
    color: var(--bg-color);
  }

  .main__section_box_content_title {
    font-family: "Lato", sans-serif;
    font-weight: 1000;
    font-size: 25px;
    line-height: 40px;
    color: var(--text-color);
  }

  .section__box_content_title {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-size: 25px;
    line-height: 40px;
    color: var(--text-color);
    letter-spacing: 0.5px;
  }
}
/* ****MEDIA RESPONSIVE END***** */
